<!doctype html>
<html lang="en-US" ng-app="demoApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="test_cal.css"/>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="scrollable-calendar.js"></script>
    <link rel="stylesheet" type="text/css" href="scrollable-calendar.css"/>
    <script type="text/javascript" src="demo_app.js"></script>
</head>
<body ng-controller="demoAppController">

<input ng-model="startDate">
<input ng-model="endDate">


<div id="calendar-div" scrollable-calendar base-date="startDate" start-date="startDate" end-date="endDate" callback="updated">

</div>
</body>
</html>
